body{

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url("BG.jpg");
	background-size: cover;
	font-family: 'Dosis', sans-serif;
	font-size: 35px;

	
}
.crystalBox{

	width: auto;
	

}
.iconList{


	display: flex;
 	flex-direction: row;
	

}
.iconList .icon{

	margin: 30px;
}

 .crystals{
 	width: 150px;
 	height: 150px;
 		
 }


 
.boxLeft{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1000px;
	height: 350px;
	padding: 40px;
	background: rgba(0,0,0,.2);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.8);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.boxScore{
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1000px;
	height: 200px;
	padding: 40px;
	background: rgba(0,0,0,.2);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.8);
	border-radius: 10px;
	display: flex;
	
	justify-content: space-evenly;
	align-items: center;
}

h1{
	font-size: 30px;
	padding-bottom: 3px;
	 font-weight: bold;
	 border-bottom-style: solid;
	 border-bottom-width: 1px;
}
h2{

	font-size: 30px;
	 font-weight: bold;
}

.Heading{

	font-size: 50px;
	padding-top: 40px;
}
.textHeading {

	height: 60px;
	display: flex;
	flex-direction: column;
	line-height: 40px;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}